{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
    {{ form_start(registrationForm) }}
 {{ form_widget(registrationForm) }}
    {{ form_end(registrationForm) }}
</div>

{% endblock %}
