{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{asset('css/header.css')}}" rel="stylesheet" media="all">
{% endblock %}
{% block javascripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="{{asset('vendor/jquery/detail.js')}}"></script>
{% endblock %}
{% block body %}
	<div
		class="body">
		<!-- Shop Detail Start -->
		<div class="container-fluid">
			<div
				class="row px-xl-5">
				{# Image #}
				<div class="col-lg-6 pb-5">
					<div id="product-carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner border">
							<div class="carousel-item active">
								{% set img = product.image %}
								<img class="w-100 h-100" src="{{asset('images/'~img)}}" alt="Image">
							</div>

						</div>
						<a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
							<i class="fa fa-2x fa-angle-left text-dark"></i>
						</a>
						<a class="carousel-control-next" href="#product-carousel" data-slide="next">
							<i class="fa fa-2x fa-angle-right text-dark"></i>
						</a>
					</div>
				</div>
				{# end Image #}

				{# Infomation #}
				<div class="col-md-6 py-4 ps-5">
					<div class="product-dtl">
						<div class="product-info">
							<div class="name">Variable Product</div>
							<div class="reviews-counter mt-2">
								<div class="rate">
									<input type="radio" id="star5" name="rate" value="5" checked/>
									<label for="star5" title="text">5 stars</label>
									<input type="radio" id="star4" name="rate" value="4" checked/>
									<label for="star4" title="text">4 stars</label>
									<input type="radio" id="star3" name="rate" value="3" checked/>
									<label for="star3" title="text">3 stars</label>
									<input type="radio" id="star2" name="rate" value="2"/>
									<label for="star2" title="text">2 stars</label>
									<input type="radio" id="star1" name="rate" value="1"/>
									<label for="star1" title="text">1 star</label>
								</div>
								<span>3 Reviews</span>
							</div>
							<div class="product-price-discount">
								<span>$39.00</span>
								{# <span class="line-through">$29.00</span> #}
							</div>
						</div>
						{# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> #}
						<div class="row">
							<div class="col-md-6">
								<div class="product-count">
									<label for="size">Quantity</label>
									<form action="#" class="display-flex">
										<div class="qtyminus">-</div>
										<input type="text" name="quantity" value="1" class="qty">
										<div class="qtyplus">+</div>
									</form>
								</div>
							</div>

						</div>
						<div class="mt-3">
							<label for="size">Size</label>
							<select id="size" name="size" class="form-control form-size">
								<option>S</option>
								<option>M</option>
								<option>L</option>
								<option>XL</option>
							</select>
						</div>
						<a href="#" class="round-black-btn text-left">Add to Cart</a>
					</div>

					{# Detail #}
					<div class="product-info-tabs">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews (0)</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
								{{product.descriptions}}
							</div>
							<div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
								<div class="review-heading">REVIEWS</div>
								<p class="mb-20">There are no reviews yet.</p>
								<form class="review-form">
									<div class="form-group">
										<label>Your rating</label>
										<div class="reviews-counter">
											<div class="rate">
												<input type="radio" id="star5" name="rate" value="5"/>
												<label for="star5" title="text">5 stars</label>
												<input type="radio" id="star4" name="rate" value="4"/>
												<label for="star4" title="text">4 stars</label>
												<input type="radio" id="star3" name="rate" value="3"/>
												<label for="star3" title="text">3 stars</label>
												<input type="radio" id="star2" name="rate" value="2"/>
												<label for="star2" title="text">2 stars</label>
												<input type="radio" id="star1" name="rate" value="1"/>
												<label for="star1" title="text">1 star</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Your message</label>
										<textarea class="form-control" rows="10"></textarea>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input type="text" name="" class="form-control" placeholder="Name*">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<input type="text" name="" class="form-control" placeholder="Email Id*">
											</div>
										</div>
									</div>
									<button class="round-black-btn">Submit Review</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				{# end Detail #}
			</div>
			{# end Information #}
		</div>
	</div>

{% endblock %}
